.vIntro {
        color: coral;
        text-transform: uppercase;
        font-family: "Helvetica Neue";
        font-weight: lighter;
        font-size: 18px;
        text-decoration: underline;        
}